{% extends 'base.html' %}

{% block style %}
<style>
    a {
        color: blue;
        text-decoration: none;
    }
    .content > header {
      border-bottom: 1px solid lightgray;
      display: flex;
      align-items: flex-end;
    }
    .content > header h1 {
      flex: auto;
      margin: 1rem 0 0.25rem 0;
    }
</style>
{% endblock %}

{% block post %}
    <div class="content">
        <header>
            <h1>Inventories</h1>
            <a href="{% url 'products:create' %}">New Inventory</a>
        </header>
    </div>

{% endblock %}


{% block content %}
    <article class="post">
        <div>
            <h1>{{object.name}}</h1>
            <div>
                <p>{{ object.description }}</p>
            </div>
            <div>
                <p>
                    <span>NOTE:</span>
                    This item, {{ object.name }}, will be delivered to {{ object.location }}
                    by {{ object.driver }}.
                </p>
            </div>
            <a href="{% url 'products:edit' product.id %}">Edit</a>
            <a href="{% url 'products:delete' product.id %}">Delete</a>
        </div>

    </article>

{% endblock %}